<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Air Traffic Control</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
 <div class="login">
	<h1>Climate Visibility Prediction</h1>
      <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="Prediction File Path" placeholder="Prediction_filepath" required="required" /><br>
          <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </form>

    <br>
    <br>

 </div>
 {{result_text}}
 <div class="login">
    <h1>Climate Visibility Training</h1>
      <form action="{{ url_for('train')}}"method="post">
        <input type="text" name="Training File Path" placeholder="training_filepath" required="required" /><br>
          <button type="submit" class="btn btn-primary btn-block btn-large">Train</button>

      </form>

    <br>
    <br>

 </div>
 {{result}}



</body>
</html>